@import "../../../styles.scss";
@media (max-width: 350px) {
  .create_task_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .new_task_container {
      background-color: $input_background;
      width: 10em;
      padding: 2em;
      border-radius: 0.3em;
      h2 {
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
      .error_stack {
        background-color: $error_stack_background;
        border-radius: 0.3em;
        margin-bottom: 1em;
        color: $error_msg;
        p {
          padding: 1em;
          margin: 0;
          font-weight: 700;
        }
        ul {
          margin: 0;
          padding-bottom: 1em;
        }
      }
      .dispaly_none {
        display: none;
      }
      .is_invalid {
        outline: none;
        border: 2px solid $warning;
        transition: all 0.2s ease-in;
      }
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        textarea {
          margin-bottom: 1.5em;
          padding: 1em;
          border: 1px solid $border_color_inactive;
          outline: none;
          resize: none;
          border-radius: 0.3em;
          background-color: $input_background;
          font-size: 0.8em;
        }
        #title {
          height: 5em;
        }
        #description {
          height: 10em;
        }
      }
    }
  }
}
@media (min-width: 351px) and (max-width: 440px) {
  .create_task_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .new_task_container {
      background-color: $input_background;
      width: 15em;
      padding: 2em;
      border-radius: 0.3em;
      h2 {
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
      .error_stack {
        background-color: $error_stack_background;
        border-radius: 0.3em;
        margin-bottom: 1em;
        color: $error_msg;
        p {
          padding: 1em;
          margin: 0;
          font-weight: 700;
        }
        ul {
          margin: 0;
          padding-bottom: 1em;
        }
      }
      .dispaly_none {
        display: none;
      }
      .is_invalid {
        outline: none;
        border: 2px solid $warning;
        transition: all 0.2s ease-in;
      }
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        textarea {
          margin-bottom: 1.5em;
          padding: 1em;
          border: 1px solid $border_color_inactive;
          outline: none;
          resize: none;
          border-radius: 0.3em;
          background-color: $input_background;
          font-size: 0.8em;
        }
        #title {
          height: 5em;
        }
        #description {
          height: 10em;
        }
      }
    }
  }
}
@media (min-width: 441px) and (max-width: 530px) {
  .create_task_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .new_task_container {
      background-color: $input_background;
      width: 20em;
      padding: 2em;
      border-radius: 0.3em;
      .error_stack {
        background-color: $error_stack_background;
        border-radius: 0.3em;
        margin-bottom: 1em;
        color: $error_msg;
        p {
          padding: 1em;
          margin: 0;
          font-weight: 700;
        }
        ul {
          margin: 0;
          padding-bottom: 1em;
        }
      }
      .dispaly_none {
        display: none;
      }
      .is_invalid {
        outline: none;
        border: 2px solid $warning;
        transition: all 0.2s ease-in;
      }
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        textarea {
          margin-bottom: 1.5em;
          padding: 2em;
          border: 1px solid $border_color_inactive;
          outline: none;
          resize: none;
          border-radius: 0.3em;
          background-color: $input_background;
        }
        #title {
          height: 5em;
        }
        #description {
          height: 10em;
        }
      }
    }
  }
}
@media (min-width: 531px) and (max-width: 650px) {
  .create_task_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .new_task_container {
      background-color: $input_background;
      width: 25em;
      padding: 2em;
      border-radius: 0.3em;
      .error_stack {
        background-color: $error_stack_background;
        border-radius: 0.3em;
        margin-bottom: 1em;
        color: $error_msg;
        p {
          padding: 1em;
          margin: 0;
          font-weight: 700;
        }
        ul {
          margin: 0;
          padding-bottom: 1em;
        }
      }
      .dispaly_none {
        display: none;
      }
      .is_invalid {
        outline: none;
        border: 2px solid $warning;
        transition: all 0.2s ease-in;
      }
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        textarea {
          margin-bottom: 1.5em;
          padding: 2em;
          border: 1px solid $border_color_inactive;
          outline: none;
          resize: none;
          border-radius: 0.3em;
          background-color: $input_background;
        }
        #title {
          height: 5em;
        }
        #description {
          height: 10em;
        }
      }
    }
  }
}
@media (min-width: 651px) {
  .create_task_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .new_task_container {
      background-color: $input_background;
      width: 30em;
      padding: 2em;
      border-radius: 0.3em;
      .error_stack {
        background-color: $error_stack_background;
        border-radius: 0.3em;
        margin-bottom: 1em;
        color: $error_msg;
        p {
          padding: 1em;
          margin: 0;
          font-weight: 700;
        }
        ul {
          margin: 0;
          padding-bottom: 1em;
        }
      }
      .dispaly_none {
        display: none;
      }
      .is_invalid {
        outline: none;
        border: 2px solid $warning;
        transition: all 0.2s ease-in;
      }
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        textarea {
          margin-bottom: 1.5em;
          padding: 2em;
          border: 1px solid $border_color_inactive;
          outline: none;
          resize: none;
          border-radius: 0.3em;
          background-color: $input_background;
        }
        #title {
          height: 5em;
        }
        #description {
          height: 10em;
        }
      }
    }
  }
}
