<div class="create_task_page">
  <div class="new_task_container">
    <h2>Create a new task</h2>
    <p>Provide information about the task you wish to complete</p>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="error_stack" [class.dispaly_none]="!isError">
        <p>Oops!</p>
        <ul>
          <li>title should not be empty</li>
          <li>description should not be empty</li>
        </ul>
      </div>
      <textarea
        id="title"
        [(ngModel)]="newTask.title"
        name="title"
        required
        #title="ngModel"
        type="text"
        [class.is_invalid]="title.invalid && title.touched"
        placeholder="Title"
      ></textarea>
      <textarea
        id="description"
        [(ngModel)]="newTask.body"
        name="body"
        placeholder="Description"
        type="text"
        required
        #body="ngModel"
        [class.is_invalid]="body.invalid && body.touched"
      ></textarea>
      <app-button [button]="createTaskButton"></app-button>
    </form>
  </div>
</div>
