@import "../../styles.scss";
.primary {
  padding: 1em;
  border-radius: 0.3em;
  outline: none;
  border: none;
  width: 100%;
  background-color: $border_color_focus;
  color: $secondary_color;
  &:hover {
    cursor: pointer;
  }
}
.secondary {
  background-color: $secondary_color;
  border-radius: 1.5em;
  width: 9.5em;
  height: 3em;
  outline: none;
  border: none;
  font-weight: 550;
  &:hover {
    cursor: pointer;
  }
}
