<div class="parent_contianer">
  <div class="header">
    <div class="title">
      <h1>{{ title }}</h1>
      <div class="create_task_and_log_out_option">
        <a routerLink="/createtask">
          <app-button [button]="createTaskButton"></app-button>
        </a>
        <a routerLink="/login"
          ><img src="../../assets/images/logout.svg" alt="log_out"
        /></a>
      </div>
    </div>
    <div class="filter_container">
      <input
        (ngModelChange)="searchTasks($event)"
        type="text"
        [ngModel]="searchInput"
        placeholder="Search..."
      />
      <select #mySelect (change)="checkStatus(mySelect.value)">
        <option disabled selected value>No status filter</option>
        <option value="Open">Open</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done</option>
      </select>
    </div>
  </div>
  <div class="tasks_container">
    <div class="list_items">
      <ul *ngFor="let index of filteredData">
        <li>
          <div class="each_item">
            <h2>
              {{ index.title }}
            </h2>
            <p>
              {{ index.body }}
            </p>
            <div class="update_status">
              <select #mySelect (change)="setStatus(mySelect.value, index.id)">
                <option *ngFor="let option of status" [value]="option">
                  {{ option }}
                </option>
              </select>
              <img
                (click)="deleteItem(index.id)"
                src="../../assets/images/delete_icon.svg"
                alt="delete_icon"
              />
            </div>
          </div>
        </li>
      </ul>
      <h3>{{ errorMsg }}</h3>
    </div>
  </div>
  <div [class.dispalyNone]="!emptyState">
    <h2 id="warning">No tasks available.Create one?</h2>
  </div>
</div>
