@import "../../styles.scss";
@media (max-width: 421px) {
  .parent_contianer {
    margin: 0 2em;
    .header {
      .title {
        display: flex;
        color: $secondary_color;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $secondary_color;
        margin: 1em 0;
        h1 {
          font-size: 1.2em;
        }
        .create_task_and_log_out_option {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1em;
          img {
            width: 1em;
            height: 1em;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .filter_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          background-color: $primary_color;
          padding: 0.5em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
          font-size: 0.6em;
        }
        select {
          background-color: $primary_color;
          padding: 0.5em;
          width: 16em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
          font-size: 0.6em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .tasks_container {
      .list_items {
        ul {
          list-style-type: none;
          margin-bottom: 1em;
          background-color: $secondary_color;
          padding: 2em 1em;
          padding-bottom: 1em;
          border-radius: 0.2em;
          .each_item {
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 1.2em;
              margin: 0;
              padding-bottom: 0.5em;
            }
            p {
              font-size: 0.8em;
              margin: 0;
              padding-bottom: 0.5em;
            }
            .update_status {
              display: flex;
              justify-content: space-between;
              margin: 1em 0;
              select {
                background-color: $secondary_color;
                width: 10em;
                border-bottom: 1px solid $black_color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 0.5em;
                outline: none;
                font-size: 0.6em;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 1em;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .dispalyNone {
      display: none;
    }
    #warning {
      color: $secondary_color;
      text-align: center;
      font-weight: 500;
      margin-top: 5em;
    }
  }
}
@media (min-width: 420px) and (max-width: 701px) {
  .parent_contianer {
    margin: 0 5em;
    .header {
      .title {
        display: flex;
        color: $secondary_color;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $secondary_color;
        margin: 1em 0;
        h1 {
          font-size: 1.5em;
        }
        .create_task_and_log_out_option {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1em;
          img {
            width: 2em;
            height: 1.3em;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .filter_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          background-color: $primary_color;
          padding: 0.8em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
        }
        select {
          background-color: $primary_color;
          padding: 0.8em;
          width: 16.5em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .tasks_container {
      .list_items {
        ul {
          list-style-type: none;
          margin-bottom: 1em;
          background-color: $secondary_color;
          padding: 2em 1em;
          padding-bottom: 1em;
          border-radius: 0.2em;
          .each_item {
            display: flex;
            flex-direction: column;
            h2,
            p {
              margin: 0;
              padding-bottom: 0.5em;
            }
            .update_status {
              display: flex;
              justify-content: space-between;
              margin: 1em 0;
              select {
                background-color: $secondary_color;
                width: 10em;
                border-bottom: 1px solid $black_color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 0.5em;
                outline: none;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 1.5em;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .dispalyNone {
      display: none;
    }
    #warning {
      color: $secondary_color;
      text-align: center;
      font-weight: 500;
      margin-top: 5em;
    }
  }
}
@media (min-width: 700px) and (max-width: 951px) {
  .parent_contianer {
    margin: 0 10em;
    .header {
      .title {
        display: flex;
        color: $secondary_color;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $secondary_color;
        margin: 1em 0;
        h1 {
          font-size: 1.5em;
        }
        .create_task_and_log_out_option {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1em;
          img {
            width: 2em;
            height: 1.3em;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .filter_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          background-color: $primary_color;
          padding: 0.8em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
        }
        select {
          background-color: $primary_color;
          padding: 0.8em;
          width: 16.5em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .tasks_container {
      .list_items {
        ul {
          list-style-type: none;
          margin-bottom: 1em;
          background-color: $secondary_color;
          padding: 2em 1em;
          padding-bottom: 1em;
          border-radius: 0.2em;
          .each_item {
            display: flex;
            flex-direction: column;
            h2,
            p {
              margin: 0;
              padding-bottom: 0.5em;
            }
            .update_status {
              display: flex;
              justify-content: space-between;
              margin: 1em 0;
              select {
                background-color: $secondary_color;
                width: 10em;
                border-bottom: 1px solid $black_color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 0.5em;
                outline: none;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 1.5em;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .dispalyNone {
      display: none;
    }
    #warning {
      color: $secondary_color;
      text-align: center;
      font-weight: 500;
      margin-top: 5em;
    }
  }
}
@media (min-width: 950px) and (max-width: 1121px) {
  .parent_contianer {
    margin: 0 15em;
    .header {
      .title {
        display: flex;
        color: $secondary_color;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $secondary_color;
        margin: 1em 0;
        h1 {
          font-size: 1.5em;
        }
        .create_task_and_log_out_option {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1em;
          img {
            width: 2em;
            height: 1.3em;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .filter_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          background-color: $primary_color;
          padding: 0.8em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
        }
        select {
          background-color: $primary_color;
          padding: 0.8em;
          width: 16.5em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .tasks_container {
      .list_items {
        ul {
          list-style-type: none;
          margin-bottom: 1em;
          background-color: $secondary_color;
          padding: 2em 1em;
          padding-bottom: 1em;
          border-radius: 0.2em;
          .each_item {
            display: flex;
            flex-direction: column;
            h2,
            p {
              margin: 0;
              padding-bottom: 0.5em;
            }
            .update_status {
              display: flex;
              justify-content: space-between;
              margin: 1em 0;
              select {
                background-color: $secondary_color;
                width: 10em;
                border-bottom: 1px solid $black_color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 0.5em;
                outline: none;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 1.5em;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .dispalyNone {
      display: none;
    }
    #warning {
      color: $secondary_color;
      text-align: center;
      font-weight: 500;
      margin-top: 5em;
    }
  }
}
@media (min-width: 1120px) and (max-width: 1411px) {
  .parent_contianer {
    margin: 0 20em;
    .header {
      .title {
        display: flex;
        color: $secondary_color;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $secondary_color;
        margin: 1em 0;
        h1 {
          font-size: 1.5em;
        }
        .create_task_and_log_out_option {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1em;
          img {
            width: 2em;
            height: 1.3em;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .filter_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
          background-color: $primary_color;
          padding: 0.8em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
        }
        select {
          background-color: $primary_color;
          padding: 0.8em;
          width: 16.5em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          margin: 0.5em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .tasks_container {
      .list_items {
        ul {
          list-style-type: none;
          margin-bottom: 1em;
          background-color: $secondary_color;
          padding: 2em 1em;
          padding-bottom: 1em;
          border-radius: 0.2em;
          .each_item {
            display: flex;
            flex-direction: column;
            h2,
            p {
              margin: 0;
              padding-bottom: 0.5em;
            }
            .update_status {
              display: flex;
              justify-content: space-between;
              margin: 1em 0;
              select {
                background-color: $secondary_color;
                width: 10em;
                border-bottom: 1px solid $black_color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 0.5em;
                outline: none;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 1.5em;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .dispalyNone {
      display: none;
    }
    #warning {
      color: $secondary_color;
      text-align: center;
      font-weight: 500;
      margin-top: 5em;
    }
  }
}
@media (min-width: 1410px) {
  .parent_contianer {
    margin: 0 30em;
    .header {
      .title {
        display: flex;
        color: $secondary_color;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $secondary_color;
        margin: 1em 0;
        .create_task_and_log_out_option {
          width: 14em;
          display: flex;
          justify-content: space-around;
          align-items: center;
          img {
            width: 2em;
            height: 1.3em;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .filter_container {
        display: flex;
        justify-content: space-between;
        input {
          background-color: $primary_color;
          padding: 0.8em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
        }
        select {
          background-color: $primary_color;
          padding: 0.8em;
          width: 15em;
          border-radius: 0.5em;
          border: none;
          outline: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .tasks_container {
      .list_items {
        ul {
          list-style-type: none;
          margin-bottom: 1em;
          background-color: $secondary_color;
          padding: 2em 1em;
          padding-bottom: 1em;
          border-radius: 0.2em;
          .each_item {
            display: flex;
            flex-direction: column;
            h2,
            p {
              margin: 0;
              padding-bottom: 0.5em;
            }
            .update_status {
              display: flex;
              justify-content: space-between;
              margin: 1em 0;
              select {
                background-color: $secondary_color;
                width: 10em;
                border-bottom: 1px solid $black_color;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 0.5em;
                outline: none;
                &:hover {
                  cursor: pointer;
                }
              }
              img {
                width: 1.5em;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .dispalyNone {
      display: none;
    }
    #warning {
      color: $secondary_color;
      text-align: center;
      font-weight: 500;
      margin-top: 5em;
    }
  }
}
