/* You can add global styles to this file, and also import other style files */
$primary_color: #b5e0ffdb;
$secondary_color: #ffffff;
$black_color: #000000;
$border_color_focus: #020080cf;
$warning: #ff0000;
$error_msg: #b51212;
$input_background: #e0effffa;
$error_stack_background: #f1b6ad;
$border_color_inactive: #949494;
body {
  background-color: #202f3ee8;
}