@import "../../../styles.scss";

@media (max-width: 310px) {
  .login_page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .login_container {
      background-color: $input_background;
      width: 10em;
      display: flex;
      flex-direction: column;
      padding: 2em;
      border-radius: 0.3em;
      h2 {
        margin: 0;
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
      form {
        display: flex;
        flex-direction: column;
        .text_danger {
          margin-bottom: 2em;
          background-color: $error_stack_background;
          color: $error_msg;
          border-radius: 0.3em;
          h2 {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          p {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          ul {
            padding-left: 2em;
          }
        }
        .dispaly_none {
          display: none;
        }
        .is_invalid {
          outline: none;
          border: 2px solid $warning;
          transition: all 0.2s ease-in;
        }
        input {
          margin-bottom: 1em;
          padding: 0.3em;
          border-radius: 0.3em;
          outline: none;
          border: 1px solid $border_color_inactive;
          background-color: $input_background;
          &:focus {
            border: 2px solid $border_color_focus;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
}

@media (min-width: 311px) and (max-width: 420px) {
  .login_page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .login_container {
      background-color: $input_background;
      width: 15em;
      display: flex;
      flex-direction: column;
      padding: 2em;
      border-radius: 0.3em;
      h2 {
        margin: 0;
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
      form {
        display: flex;
        flex-direction: column;
        .text_danger {
          margin-bottom: 2em;
          background-color: $error_stack_background;
          color: $error_msg;
          border-radius: 0.3em;
          h2 {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          p {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          ul {
            padding-left: 2em;
          }
        }
        .dispaly_none {
          display: none;
        }
        .is_invalid {
          outline: none;
          border: 2px solid $warning;
          transition: all 0.2s ease-in;
        }
        input {
          margin-bottom: 1em;
          padding: 0.5em;
          border-radius: 0.3em;
          outline: none;
          border: 1px solid $border_color_inactive;
          background-color: $input_background;
          &:focus {
            border: 2px solid $border_color_focus;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
}

@media (min-width: 421px) and (max-width: 510px) {
  .login_page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .login_container {
      background-color: $input_background;
      width: 20em;
      display: flex;
      flex-direction: column;
      padding: 2em;
      border-radius: 0.3em;
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        .text_danger {
          margin-bottom: 2em;
          background-color: $error_stack_background;
          color: $error_msg;
          border-radius: 0.3em;
          h2 {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          p {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          ul {
            padding-left: 2em;
          }
        }
        .dispaly_none {
          display: none;
        }
        .is_invalid {
          outline: none;
          border: 2px solid $warning;
          transition: all 0.2s ease-in;
        }
        input {
          margin-bottom: 1em;
          padding: 1em;
          border-radius: 0.3em;
          outline: none;
          border: 1px solid $border_color_inactive;
          background-color: $input_background;
          &:focus {
            border: 2px solid $border_color_focus;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
}

@media (min-width: 511px) {
  .login_page {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .login_container {
      background-color: $input_background;
      width: 25em;
      display: flex;
      flex-direction: column;
      padding: 2em;
      border-radius: 0.3em;
      h2 {
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        .text_danger {
          margin-bottom: 2em;
          background-color: $error_stack_background;
          color: $error_msg;
          border-radius: 0.3em;
          h2 {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          p {
            margin-top: 0.5em;
            margin-left: 0.5em;
          }
          ul {
            padding-left: 2em;
          }
        }
        .dispaly_none {
          display: none;
        }
        .is_invalid {
          outline: none;
          border: 2px solid $warning;
          transition: all 0.2s ease-in;
        }
        input {
          margin-bottom: 1em;
          padding: 1em;
          border-radius: 0.3em;
          outline: none;
          border: 1px solid $border_color_inactive;
          background-color: $input_background;
          &:focus {
            border: 2px solid $border_color_focus;
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }
}
