<div class="login_page">
  <div class="login_container">
    <h2>Hello!</h2>
    <p>Fill in your username and password to log in</p>
    <div>
      <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="text_danger" [class.dispaly_none]="!isError">
          <h2>Oops!</h2>
          <ul>
            <li>username must be longer than or equal to 4 characters.</li>
            <li>password too weak.</li>
            <li>password must be longer than or equal to 8 characters.</li>
          </ul>
        </div>
        <div class="text_danger" [class.dispaly_none]="!authenticationError">
          <p>Your password is invalid, please try again.</p>
        </div>
        <input
          [(ngModel)]="userModel.name"
          name="userName"
          required
          minlength="4"
          #name="ngModel"
          type="text"
          [class.is_invalid]="name.invalid && name.touched"
          placeholder="username"
        />
        <input
          [(ngModel)]="userModel.password"
          name="password"
          placeholder="password"
          type="password"
          required
          minlength="8"
          #password="ngModel"
          [class.is_invalid]="password.invalid && password.touched"
        />
        <app-button [button]="submitButton" ></app-button>
      </form>
    </div>
  </div> 
</div>
